<mat-sidenav-container class="h-100" autosize>
	<mat-sidenav #drawer class="h-100 bg-white" mode="over">
		<mat-nav-list>
			<a
				mat-list-item
				routerLink="{{link.path}}"
				routerLinkActive="active"
				[routerLinkActiveOptions]="{exact: link.path === '/'}"
				(click)="drawer.close()"
				*ngFor="let link of links"
			>{{link.title}}</a>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content class="pa2">
		<button type="button" mat-button (click)="drawer.toggle()">
			<mat-icon svgIcon="menu">menu</mat-icon>
		</button>

		<!--The content below is only a placeholder and can be replaced.-->
		<div style="text-align:center">
			<h1 class="f3">
				Welcome to {{ title }}!
			</h1>
		</div>
		<h2>Here are some links to help you start: </h2>

		<router-outlet></router-outlet>

	</mat-sidenav-content>

</mat-sidenav-container>
